/* src/styles/Footer.css */
.footer {
  height: 30px;
  background-color: #2c2c2c; /* Темно-сірий колір */
  text-align: center;
  padding: 20px;
  color: #fff;
  border: 3px solid #c0c0c0; /* Срібна рамка */
  border-radius: 5px;
}

.footer a {
  color: #c0c0c0;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.footer a:hover {
  color: #ffffff;
}
