"desktop.ini" 
"desktop.ini" 
"desktop.ini" 
# IDE settings
.idea/

# Virtual environments
venv/
Solution files/myproject/backend files/TransLogix_djangoProject/venv/

# Static files
Solution files/myproject/backend files/TransLogix_djangoProject/staticfiles/
