/* DevelopersTools.css */

.two-column-template {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.top-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  padding: 0 20px; /* Прибрано вертикальні відступи, щоб логотип займав всю висоту */
  height: 80px; /* Встановіть висоту панелі навігації */
  border-bottom: 3px solid #C0C0C0;
  box-sizing: border-box;
}

.two-column-template-logo img {
  margin-top: 3px !important;
  height: 50px !important;/* Логотип займає всю висоту панелі */
  width: auto; /* Збереження пропорцій */
}

.date-time {
  font-size: 20px;
  color: #fff;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  padding: 10px 15px;
  background-color: #2c2c2c;
  border: 3px solid #C0C0C0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #3a3a3a;
}

.template21-content {
  display: flex;
  flex: 1;
  width: 100%; 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.template21-left-column {
  flex: 0 0 30%; 
  padding: 20px;
  background-color: #3a3a3a;
  border-right: 3px solid #C0C0C0;
  box-sizing: border-box;
}

.template21-left-column h2 {
  color: #fff;
  margin-bottom: 10px;
}

.template21-left-column ul {
  list-style-type: none;
  padding: 0;
}

.template21-left-column li {
  margin-bottom: 10px;
}

.template21-left-column a {
  color: #fff;
  text-decoration: none;
}

.template21-left-column a:hover {
  text-decoration: underline;
}

.template21-right-column {
  flex: 0 0 70%; /* Зміна ширини на 70% */
  padding: 20px;
  background-color: #2c2c2c;
  box-sizing: border-box;
}
 