.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
  }
  
  .route-info {
   
      background: #ddd; /* Темніший фон для контрасту */
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      color: #000; /* Чорний текст для кращої читабельності */
      font-weight: bold; /* Щоб текст виділявся */
    
    
  }
  
  .no-optimization {
    color: #888;
    font-weight: bold;
  }
  
  .modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modal-buttons button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-buttons button:hover {
    opacity: 0.8;
  }
  
  .modal-buttons button:nth-child(1) {
    background: #007bff;
    color: white;
  }
  
  .modal-buttons button:nth-child(2) {
    background: #28a745;
    color: white;
  }
  
  .modal-buttons button:nth-child(3) {
    background: #dc3545;
    color: white;
  }
  