.tr-transport-request {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Висота екрану браузера */
    width: 100%;
    background-color: #2c2c2c;
    color: #fff;
  }
  
  .top-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c2c2c;
    border-bottom: 3px solid #C0C0C0;
  }
  
  .logo img {
    height: 60px;
  }
  
  .date-time {
    font-size: 18px;
    color: #C0C0C0;
  }
  
  .nav-buttons {
    display: flex;
    gap: 15px;
  }
  
  .nav-button {
    padding: 10px 20px;
    background-color: #2c2c2c;
    border: 3px solid #C0C0C0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-button:hover {
    background-color: #3a3a3a;
  }
  
  /* Контент */
  .tr-planning-content {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: space-between;
  }
  
  .tr-left-column, .tr-middle-column, .tr-center-column {
    width: 32%;
    padding: 10px;
    background-color: #3a3a3a;
    border: 3px solid #C0C0C0;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .tr-right-column {
    width: 32%;
    padding: 10px;
    background-color: #3a3a3a;
    border: 3px solid #C0C0C0;
    color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .tr-left-column h2, .tr-middle-column h2, .tr-center-column h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .tr-confirmed-routes-list, .tr-scheduled-routes-list, .tr-notification-status {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .tr-action-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .tr-action-button {
    padding: 10px;
    background-color: #2c2c2c;
    border: 3px solid #C0C0C0;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .tr-action-button:hover {
    background-color: #3a3a3a;
  }
  